apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: jellyfin

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../base
- namespace.yaml
- certificate.yaml
- ingress.yaml
- httproute.yaml
