apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- pairs:
    app.kubernetes.io/name: external-secrets
resources:
- https://github.com/external-secrets/external-secrets/releases/download/v2.0.1/external-secrets.yaml
- webhook-pki.yaml
patches:
- path: cert-controller-delete-deploy.yaml
- path: cert-controller-delete-secret.yaml
- path: cert-controller-delete-serviceaccount.yaml
- path: cert-controller-delete-clusterrole.yaml
- path: cert-controller-delete-clusterrolebinding.yaml
- target:
    version: v1
    kind: Deployment
    name: external-secrets-webhook
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/args/2
      value: "--dns-name=external-secrets-webhook.external-secrets.svc"
- target:
    version: v1
    kind: ValidatingWebhookConfiguration
  patch: |-
    - op: add
      path: /metadata/annotations
      value:
        cert-manager.io/inject-ca-from: external-secrets/external-secrets-webhook-ca
