apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/cloudnative-pg/cloudnative-pg/config/default?ref=v1.22.1

images:
- name: controller
  newName: ghcr.io/cloudnative-pg/cloudnative-pg
  newTag: 1.22.2
