apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: personal-blog

labels:
- pairs:
    environment: jern.fi

resources:
- ../../../personal-blog/base
- namespace.yaml
- ingress.yaml
- httproute.yaml
