apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../bases/upstream
- namespace.yaml
- selfsigned-issuer.yaml
- httproute.yaml
patches:
- path: argocd-cmd-params-cm.yaml
