apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
labels:
- pairs:
    environment: jern.fi
resources:
- ../../../keycloak/base
- httproute.yaml
patches:
- path: keycloak.yaml
- target:
    kind: Keycloak
    name: keycloak
  patch: |-
    - op: remove
      path: /spec/http/tlsSecret
