apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
labels:
- pairs:
    environment: jern.fi
resources:
- ../../../keycloak/base
- certificate.yaml
- ingress.yaml

components:
- ../../../keycloak/components/opencloud-realm

patches:
- path: keycloak.yaml
# Configure web client redirect URIs for turing-talos environment
# Note: web client is at index 2 (after account and account-console)
- target:
    kind: KeycloakRealmImport
    name: opencloud-realm
  patch: |-
    - op: add
      path: /spec/realm/clients/2/redirectUris
      value:
        - https://opencloud.jern.fi/*
    - op: add
      path: /spec/realm/clients/2/webOrigins
      value:
        - https://opencloud.jern.fi
    - op: add
      path: /spec/realm/clients/2/attributes/post.logout.redirect.uris
      value: https://opencloud.jern.fi/*
