apiVersion: apps/v1
kind: Deployment
metadata:
  name: opencloud
spec:
  template:
    spec:
      containers:
      - name: opencloud
        env:
        - name: IDM_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: opencloud-admin
              key: IDM_ADMIN_PASSWORD
        - name: PROXY_CSP_CONFIG_FILE_LOCATION
          value: /etc/opencloud/csp.yaml
        volumeMounts:
        - name: csp-config
          mountPath: /etc/opencloud/csp.yaml
          subPath: csp.yaml
      volumes:
      - name: csp-config
        configMap:
          name: opencloud-csp
