# Source: external-secrets/charts/bitwarden-sdk-server/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden-sdk-server
  labels:
    app.kubernetes.io/name: bitwarden-sdk-server
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: bitwarden-sdk-server
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bitwarden-sdk-server
    spec:
      serviceAccountName: bitwarden-sdk-server
      securityContext: {}
      containers:
      - name: bitwarden-sdk-server
        securityContext: {}
        image: "ghcr.io/external-secrets/bitwarden-sdk-server:v0.4.2"
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /certs
          name: bitwarden-tls-certs
        ports:
        - name: http
          containerPort: 9998
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /live
            port: http
            scheme: HTTPS
        readinessProbe:
          httpGet:
            path: /ready
            port: http
            scheme: HTTPS
        resources: {}
      volumes:
      - name: bitwarden-tls-certs
        secret:
          items:
          - key: tls.crt
            path: cert.pem
          - key: tls.key
            path: key.pem
          - key: ca.crt
            path: ca.pem
          secretName: bitwarden-tls-certs
