apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../upstream

images:
- name: alpine
  newTag: 3.23.3
- name: registry.fedoraproject.org/fedora
  newTag: "43"

patches:
- path: argocd-repo-server-deployment.yaml

configMapGenerator:
- name: sops-secret-generator-env
  literals:
  - KUSTOMIZE_VERSION=v4.5.7
  - SOPS_SECRET_GENERATOR_VERSION=v1.6.0
  - SOPS_VERSION=v3.11.0
  - YQ_VERSION=v4.52.4
  - PLATFORM=linux
- name: sops-secret-generator-cmp
  files:
  - plugin.yaml
