apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: blog

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../base
- namespace.yaml
- httproute.yaml

patches:
- path: ingress.yaml
