apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: envoy-gateway-system

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../base
- wildcard-certificate.yaml

patches:
- path: private-gateway.yaml
