apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
labels:
- pairs:
    environment: kind
resources:
- ../../base
- certificate.yaml
- ingress.yaml

components:
- ../../components/opencloud-realm

patches:
- target:
    kind: Keycloak
    name: keycloak
  patch: |-
    - op: add
      path: /spec/http/httpEnabled
      value: true
    - op: remove
      path: /spec/http/tlsSecret
# Configure web client redirect URIs for KinD environment
- target:
    kind: KeycloakRealmImport
    name: opencloud-realm
  patch: |-
    - op: add
      path: /spec/realm/clients/2/redirectUris
      value:
        - https://opencloud.local/*
    - op: add
      path: /spec/realm/clients/2/webOrigins
      value:
        - https://opencloud.local
    - op: add
      path: /spec/realm/clients/2/attributes/post.logout.redirect.uris
      value: https://opencloud.local/*
