apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
labels:
- pairs:
    environment: kind
resources:
- ../../base
- certificate.yaml
- ingress.yaml
- httproute.yaml
patches:
- target:
    kind: Keycloak
    name: keycloak
  patch: |-
    - op: add
      path: /spec/http/httpEnabled
      value: true
    - op: remove
      path: /spec/http/tlsSecret
