apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
labels:
- pairs:
    environment: turing-talos
resources:
- ../../../argocd/bases/upstream
- namespace.yaml
- selfsigned-issuer.yaml
- letsencrypt-prod.yaml
- letsencrypt-staging.yaml
- httproute.yaml
patches:
- path: argocd-cm.yaml
- path: argocd-rbac-cm.yaml
- path: argocd-cmd-params-cm.yaml
