apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opencloud

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../base
- namespace.yaml
- httproute.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: opencloud-env
  envs:
  - config.env
