apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opencloud

labels:
- includeSelectors: true
  pairs:
    environment: kind

resources:
- ../../base
- namespace.yaml
- certificate.yaml
- ingress.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: opencloud-env
  envs:
  - config.env
  - oidc.env
- name: opencloud-csp
  files:
  - csp.yaml

patches:
- target:
    kind: Deployment
    name: opencloud
  patch: |-
    - op: add
      path: /spec/template/spec/volumes/-
      value:
        name: csp-config
        configMap:
          name: opencloud-csp
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts/-
      value:
        name: csp-config
        mountPath: /etc/opencloud/csp.yaml
        subPath: csp.yaml
    - op: add
      path: /spec/template/spec/containers/0/env
      value:
        - name: PROXY_CSP_CONFIG_FILE_LOCATION
          value: /etc/opencloud/csp.yaml
