apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jellyfin
labels:
- pairs:
    environment: turing-talos
resources:
- ../../../jellyfin/base
- namespace.yaml
- certificate.yaml
- ingress.yaml
- httproute.yaml
- jellyfin-pv.yaml
patches:
- path: jellyfin-data-pvc.yaml
